@import '../style';

.blockError {
  font-size: 20px;
  color: $gray-100;
  font-weight: 500;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  flex-direction: column;

  .iconError{
    font-size: 50px;
    margin-bottom: 20px;
  }

  .homeLink{
    margin-top: 50px;
    font-size: 14px;
    color: $main-blue;
  }
}
