@import '../style';

.root {
  maxWidth: 345;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.types{
padding: 5px 0;

.chip {
  background-color: $main-blue-10;
  font-size: 12px;
  margin-right: 10px;
}
}

.media {
  height: 200px;
  border: 0;
}

.content {
  padding: 15px 10px 10px
}

.header {
  display: flex;
  flex-direction: column;

  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $gray-100;

  }

  .videoTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    height: 40px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.inludes {
  margin-top: 10px;
  color: $gray-100;
  font-weight: 700;

  .checkIcon {
    font-size: 14px;
    margin-right: 5px;
  }

  & > * {
    font-weight: normal;
    display: flex;
    margin-top: 2px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  .favIconDis {
    font-size: 20px;
  }

  .favIconEn{
    font-size: 20px;
    color:red;
  }
}

.user {
  display: flex;
  align-items: center;
  color: $gray-main;

  .avatar {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
}

.price {
  font-size: 14px;
  margin-top: 10px;
}

.cards {
  margin: 20px 0;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}
