@import '../../shared/style';

.content {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  & > * + * {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}

.noPhoto {
  font-size: 56px;
  width: 100%;
  height: 100%;
  color: $gray-100;
}

.userName {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  & > * {
    margin-right: 10px;
  }
}

.saveButton {
  right: 0;
  font-size: 16px;
  color: $main-green;
}

.loadBlock {
  width: 350px;
  height: 350px;
  position: absolute;
  display: none;
  font-size: 16px;
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}

.userBlock {
  width: 350px;
}

.avatar {
  display: flex;
  margin: 20px 0;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 4px;

  &:hover .loadBlock {
    display: flex;
  }

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(20px, auto);
  margin-top: 10px;
}

.works {
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column !important;

  .titleWorks {
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
    display: flex;
    align-items: center;

    & > * {
      margin-left: 10px;
    }
  }
}

.addIcon {
  font-size: 20px;
  color: $green-100;
}

.fullBlock {
  width: 100%;
}

.editBlock {
  max-width: 900px;
  min-width: 800px;
}

.userInfo {
  max-width: 900px;
  min-width: 800px;
  display: flex;
  flex-direction: column !important;

  & > * {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-auto-rows: minmax(30px, auto);
    margin-top: 10px;
  }

  .chip {
    color: #1a1818;
    background: #edf3ff;
    margin: 2px;
  }
}

.titleField {
  font-weight: 400;
  color: $gray-100;
}

.noCases {
  height: 50px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: $gray-100;
}