@import '../../shared/style';

.card {
  background: $gray-100-10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 20vw;
  transform: translate(-50%, -50%);

  .cardHeader {
    background: $main-blue;
    color: #FFF;
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    text-transform: uppercase;
    transform: skewY(-4deg);
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: -0.75rem;
  }

  .cardBody {
    margin-top: 2rem;

    & > * {
      margin-top: 20px;
    }
  }

  .button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    & > * {
      background: $main-blue;
    }
  }
}

.registerLink{
  display: block;
  margin-top: 20px;
  color:  $main-blue;
  text-decoration: none;
}