@import '../style';

.filterContainer{
  background-color: rgba(239, 243, 241, 0.32);
  padding: 20px 0
;border: 1px solid  rgba(146, 153, 167, .1)
}
.fastFilter{
  width: 600px;
}
.select {
  width: 250px;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & > * {
    margin-bottom: 15px;
  }

  & > * + * {
    margin-left: 20px;
  }

  .titleField {
    display: block;
    margin-bottom: 15px;
  }

  .priceBlock {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .divider {
      margin: 0 5px;
    }

    .priceField {
      width: 100px;
    }
  }
}

.button {
  margin-top: auto;
  padding: 4px 0;
}
.delBut{
  margin-left: 10px;
}