.card {
  background: #f1f1f1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 20vw;
  transform: translate(-50%, -50%);

  .cardHeader {
    background: #3f51b5;
    color: #FFF;
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    text-transform: uppercase;
    transform: skewY(-4deg);
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: -0.75rem;
  }

  .cardBody {
    margin-top: 2rem;
  }

  .button-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}