@import '../style';

.footer {
  margin-top: 15px;
  background: $gray-100-10;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $gray-100;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      height: 30px;
      width: 30px;
    }
  }

  .divider{
    margin: 10px 0;
    border-bottom: 1px solid  $gray-100-10;
  }

  .footerEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .phone {
      color: #1a1818;
    }
  }
}
